<section class="border-white/20  border-b ">
  <div class="mx-auto border-white/20  border-x max-w-7xl gradient-grid">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl">
        Desarrollamos sitios web modernos y funcionales que conectan tu marca con el mundo digital, ayudándote a crecer y destacar.
      </p>
    </div>
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-3xl">
        Me especializo en el desarrollo de sitios web estáticos utilizando Astro y Tailwind CSS.
        Al aprovechar estos marcos, creo sitios web optimizados y personalizados que comparten de manera efectiva historias de startups, 
        conectan con audiencias y crean experiencias memorables. Déjame ayudarte a alcanzar tus objetivos con una notable presencia en línea.
      </p>
    </div>
  </div>
</section>
