<section class="border-white/20  border-b">
  <div class="mx-auto border-white/20  border-x max-w-7xl">
    <div class="p-8">
      <p class="text-white font-display uppercase text-3xl lg:text-6xl">
        Nuestros servicios
      </p>
    </div>
    <div
      class="text-white text-xs gap-3 gap-y-12 grid grid-cols-1 md:grid-cols-4 mx-auto p-8 sm:grid-cols-2 md:gap-y-0">
      <div>
        <div>
          <span class="text-white font-display text-xl"
            >Diseño en Figma o Browser:</span
          >
        </div>
        <p class="mt-3 text-eagle">
          Ofrezco servicios de diseño profesional usando Figma o puedo trabajar
          directamente en el navegador. Como diseñador experto, crearé visualmente
          diseños atractivos y fáciles de usar diseñados específicamente para sus
          necesidades y requerimientos.
        </p>
      </div>
      <div>
        <div>
          <span class="text-white font-display text-xl"
            >Rediseño de Proyectos Existentes:</span
          >
        </div>
        <p class="mt-3 text-eagle">
          Si tiene un proyecto existente que necesita una nueva apariencia o mejora
          funcionalidad, puedo ofrecer mi ayuda. Yo personalmente analizaré
          su diseño actual y realizar mejoras estratégicas para transformarlo
          en un sitio web moderno y cautivador.
        </p>
      </div>
      <div>
        <div>
          <span class="text-white font-display text-xl"
            >Convertir a Tailwind CSS y Astro:</span
          >
        </div>
        <p class="mt-3 text-eagle">
          Al convertir su proyecto, puede esperar tiempos de carga más rápidos y
          experiencias de usuario mejoradas. Déjame ayudarte a mejorar tu
          proyecto existente, haciéndolo más eficiente y fácil de usar.
          Juntos, podemos aprovechar el poder de Tailwind CSS y Astro para brindar
          su proyecto a nuevas alturas.
        </p>
      </div>
      <div>
        <div>
          <span class="text-white font-display text-xl"
            >Desarrollo con Tailwind &amp; Astro:</span
          >
        </div>
        <p class="mt-3 text-eagle">
          Nos Especializamos en desarrollo web usando Tailwind CSS y Astro. Puedo crear sitios web visualmente atractivos, funcionales y personalizados que se alineen con su marca y cumplan con sus objetivos comerciales. Con mi experiencia, su presencia en línea será convincente y se adaptará a sus necesidades específicas.
        </p>
      </div>
    </div>
  </div>
</section>
